:root {
    --color-de-fondo: #31363F;
    --color-de-fondo-menu: #222831;
    --color-de-link: #76ABAE;
    --color-de-texto: #EEEEEE;    
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;    
}

ol, ul, li {
    list-style: none;
}

h2, h3, p {
    color: var(--color-de-texto);
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}


/* ------------------------------ Sección Cabecera -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-de-fondo-menu);
    background-image: url('assets/header-banner.png');
}

.cabecera__logo {
    max-width: 80px; 
}

.cabecera__titulo {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-de-texto);
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.navegacion__lista {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navegacion__elemento {
    position: relative;
    font-size: 0.9rem;
}

.navegacion__elemento a {
    text-decoration: none;
    color:var(--color-de-texto);
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.navegacion__elemento a:hover {
    color: var(--color-de-link); 
    transform: translateY(-5px); 
}

.navegacion__elemento a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color:var(--color-de-link);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.navegacion__elemento a:hover::after {
    width: 100%; 
}


/*nav toggle*/
.navegacion__toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-de-texto);
    cursor: pointer;
}


/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: var(--color-de-fondo); 
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto; 
}

.presentacion__foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

.presentacion__foto:hover {
    content: url('assets/profile02.png'); 
    transform: scale(1.1); 
    opacity: 0.9; 
}

.presentacion__contenedor {
    margin-left: 20px;
}

.presentacion__titulo {
    font-size: 2rem;
    color: var(--color-de-texto);
    margin-bottom: 10px;
}

.presentacion__subtitulo {
    font-size: 1.2rem;
    color: var(--color-de-link);
    margin-bottom: 20px;
}

.redes {
    display: flex;
    gap: 15px; 
    padding: 0;
    list-style: none;
}

.redes__img a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-de-link);
    transition: color 0.3s ease-in-out; 
}

.redes__img a:hover {
    color: var(--color-de-texto); 
}

.redes__img img {
    width: 30px;
    height: 30px;
    margin-left: 8px; 
    transition: transform 0.3s ease-in-out; 
}

.redes__img img:hover {
    transform: scale(1.2); 
}


/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    align-items: center;
    padding: 2rem;
}

.sobre-mi__titulo {
    display: flex;
    align-items: center;    
}

.sobre-mi__texto {
    align-items: center;
    text-align: justify;    
}

.sobre-mi__texto br {
    content: "";
    display: block;
    margin-bottom: 18px;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.habilidades__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.habilidades__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.habilidades__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer; 
}

.habilidades__elemento:hover {
    transform: scale(1.1); 
    background-color: var(--color-de-fondo); 
    border-radius: 10px; 
}

.habilidades__icono {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}

.habilidades__elemento:hover .habilidades__icono {
    transform: scale(1.2);
}

.habilidades__nombre {
    font-size: 1.2rem;
    margin-top: 10px;
    color: var(--color-de-texto);
    transition: color 0.3s ease;
}

.habilidades__elemento:hover .habilidades__nombre {
    color: var(--color-de-link); 
}


/*------------------------------ Sección de Tools --------------------------------*/
.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.tools__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tools__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding: 0;   
}

.tools__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer; 
}

.tools__elemento:hover {
    transform: scale(1.1); 
    background-color: var(--color-de-fondo);
    border-radius: 10px; 
}

.tools__icono {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.tools__elemento:hover .tools__icono {
    transform: scale(1.2); 
}

.tools__nombre {
    font-size: 1.2rem;
    margin-top: 10px;
    color: var(--color-de-texto);
    transition: color 0.3s ease;
}

.tools__elemento:hover .tools__nombre {
    color: var(--color-de-link); 
}


/*------------------------------ Sección de Formacion Academica --------------------------------*/
.formacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.formacion__titulo {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.formacion__elemento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
.formacion__lista {
    padding: 0;
}
.formacion_contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px; 
}

.formacion__icono {
    width: 210px;
    height: 101px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.formacion__icono:hover {
    transform: scale(1.2); 
}


/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
    align-items: center;
    padding: 1.5rem;
}

.proyectos__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.proyectos__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;      
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 20px;
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: var(--color-de-texto); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto__campo {
    width: 100%; 
    padding: 15px;
    margin-bottom: 15px; 
    border: 1px solid var(--color-de-fondo-menu);
    border-radius: 5px; 
    font-size: 1rem;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.contacto__campo:hover,
.contacto__campo:focus {
    border-color: var(--color-de-fondo-menu); 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none; 
}

.contacto__campo--textarea {
    height: 150px; 
    resize: none; 
}


.contacto__boton {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    color: var(--color-de-texto);
    background-color: var(--color-de-link); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.contacto__boton:hover {
    background-color:var(--color-de-fondo); 
    transform: scale(1.05); 
}


.contacto__formulario::after {
    content: "Nos pondremos en contacto pronto.";
    display: block;
    margin-top: 20px;
    text-align: center;
    color: var(--color-de-link); 
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* ------------------------------ Footer ---------------------------------------*/

.footer {
    width: 100%; 
    padding: 20px;
    background-image: url('assets/header-banner.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: var(--color-de-texto); 
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.footer__titulo {
    font-size: 1.2rem;
    margin: 0;    
}

.footer__navegacion {
    display: flex;
}

.footer__detalle {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
}

.footer__detalle li {
    margin-left: 20px; 
}

.footer__detalle li:first-child {
    margin-left: 0; 
}

.footer__detalle a {
    text-decoration: none;
    color: white; 
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.footer__detalle img {
    width: 20px;
    height: 20px;
    margin-left: 8px; 
}
/* ------------------------------ Responsividad ---------------------------------------*/
/* Responsivo 768px */
@media (max-width: 768px) {
    .cabecera {
        flex-direction: row;        
    }

    /*nav toggle*/
    .navegacion__lista {
        display: none;
        flex-direction: column;
        background-color: var(--color-de-fondo-menu);
        position: absolute;
        top: 60px; /* Ajusta según la altura del header */
        left: 0;
        width: 100%;
        padding: 1rem 0;
        z-index: 1000;
    }

    /* Mostrar el ícono de menú hamburguesa */
    .navegacion__toggle {
        display: block;
    }

    /* Estilo para los elementos del menú en el desplegable */
    .navegacion__elemento {
        text-align: center;
        margin: 0.5rem 0;
    }

    /* Mostrar el menú cuando esté activo */
    .navegacion__lista.activo {
        display: flex;
    }


    .presentacion {
        flex-direction: column; 
        text-align: center;
    }
    
    .presentacion__contenedor {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .presentacion__foto {
        width: 120px;
        height: 120px;        
    }

    /*nuevo*/
    .redes__img a {
        display: flex; /* Aseguramos que el ícono quede visible junto al texto si lo hay */
        align-items: center;
    }

    .contacto__boton:hover {
        text-align: center;          
    }
      
    .redes {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
     
    .redes__img a::before {
        content: none; /* Eliminar texto antes del ícono si está configurado con ::before */        
    }
    
    .redes__img a span {
        display: none; /* Ocultamos el texto */        
    }
    
    .redes__img img {
        margin-left: 0; /* Asegura que las imágenes queden alineadas correctamente */       
    }
    
    



    .formacion__icono {
        width: 150px;
        height: 80px;
    }
    .formacion__alura {
        width: 150px;
        height: 80px;
    }
    .footer {
        flex-direction: column; 
        text-align: center;
    }

    .footer__detalle {
        flex-direction: column;
        align-items: center;
    }

    .footer__detalle li {
        margin: 10px 0; 
    }

    
}
/* Responsivo 360px */

@media (max-width: 360px) {
    :root { 
        --color-de-fondo: #31363F;
        --color-de-fondo-menu: #222831;
        --color-de-link: #76ABAE;
        --color-de-texto: #EEEEEE;    
    }

    /* Cabecera */
    .cabecera {
        flex-direction: column; /* Alineamos el contenido verticalmente en pantallas pequeñas */
        justify-content: center;
        padding: 0.5rem;
    }

    .cabecera__logo {
        max-width: 60px; /* Reducimos el tamaño del logo */
    }

    .cabecera__titulo {
        font-size: 1rem; /* Disminuimos el tamaño del texto */
    }

    /* Navegación */
    .navegacion__toggle {
        font-size: 1.5rem; /* Ajustamos el tamaño del ícono de menú */
    }

    .navegacion__elemento a {
        font-size: 1rem; /* Ajustamos el tamaño de los links de navegación */
        padding: 8px 15px; /* Reducimos el padding */
    }

    /* Presentación */
    .presentacion {
        padding: 20px;
    }

    .presentacion__foto {
        width: 100px;
        height: 100px; /* Reducimos el tamaño de la foto */
    }

    .presentacion__titulo {
        font-size: 1.5rem; /* Ajustamos el tamaño del título */
    }

    .presentacion__subtitulo {
        font-size: 1rem; /* Ajustamos el subtítulo */
    }

    /* Redes Sociales */
    .redes__img img {
        width: 25px;
        height: 25px; /* Reducimos el tamaño de los íconos */
    }

    /* Sección Sobre Mí */
    .sobre-mi {
        padding: 1rem; /* Reducimos el padding para evitar espacios grandes */
    }

    /* Habilidades */
    .habilidades__icono {
        width: 60px;
        height: 60px; /* Reducimos el tamaño de los íconos */
    }

    .habilidades__nombre {
        font-size: 1rem; /* Ajustamos el tamaño del texto */
    }

    /* Tools */
    .tools__icono {
        width: 50px;
        height: 50px; /* Ajustamos el tamaño de los íconos */        
    }
    /* Escalar las imágenes .tools__icono */
    .tools__icono {
        width: 40px; /* Ajustar el tamaño de las imágenes */
        height: 40px;
        transition: transform 0.3s ease;
    }

    /* Escalar el texto .tools__nombre */
    .tools__nombre {
        font-size: 0.9rem; /* Reducir el tamaño del texto */
        margin-top: 5px;   /* Reducir el margen superior para mantener proporción */
        transition: font-size 0.3s ease;
    }

    /* Ajustar el contenedor de las herramientas */
    .tools__elemento {
        padding: 5px; /* Reducir el padding general */
    }

    /* Si es necesario, ajustar el layout en modo columna */
    .tools__lista {
        flex-direction: column; /* Si quieres que los elementos se apilen verticalmente */
        gap: 10px; /* Añadir un pequeño espacio entre cada herramienta */
    }

    
    /* Proyectos */
    .proyecto__icono {
        width: 340px;
    }

    /* Contacto */
    .contacto__formulario {
        padding: 10px; /* Reducimos el padding */
        max-width: 100%; /* Hacemos que ocupe el 100% de la pantalla */
    }

    .contacto__boton {
        font-size: 1rem;
        padding: 10px; /* Reducimos el padding del botón */
    }

    /* Footer */
    .footer {
        padding: 10px;
        text-align: center;
    }

    .footer__detalle li {
        margin: 5px 0; /* Reducimos el espacio entre los elementos de la lista */
    }
}
